function OKeyboard.drawFrame 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 43
push constant 45
push constant 457
push constant 209
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 44
push constant 46
push constant 454
push constant 206
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function OKeyboard.drawButton 0
push argument 0
pop pointer 0
push argument 1
call Button.LeftTopCorner 1
pop this 92
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 92
call Point.X 1
push this 92
call Point.Y 1
push this 92
call Point.X 1
push argument 1
call Button.Width 1
add
push this 92
call Point.Y 1
push argument 1
call Button.Height 1
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 92
call Point.X 1
push constant 1
add
push this 92
call Point.Y 1
push constant 1
add
push this 92
call Point.X 1
push argument 1
call Button.Width 1
add
push constant 3
sub
push this 92
call Point.Y 1
push argument 1
call Button.Height 1
add
push constant 3
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function OKeyboard.coverButton 0
push argument 0
pop pointer 0
push argument 1
call Button.LeftTopCorner 1
pop this 92
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 92
call Point.X 1
push this 92
call Point.Y 1
push this 92
call Point.X 1
push argument 1
call Button.Width 1
add
push this 92
call Point.Y 1
push argument 1
call Button.Height 1
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function OKeyboard.drawCat 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 10240
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 15360
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 16896
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 20
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 35
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 33
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 32
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 24
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function OKeyboard.drawOki 0
push argument 0
pop pointer 0
push constant 300
call Sys.wait 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 300
call Sys.wait 1
pop temp 0
push constant 0
pop this 87
push constant 0
pop this 88
push constant 0
pop this 89
push constant 19
pop this 90
label WHILE_EXP0
push this 87
push constant 250
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push this 88
push constant 512
lt
not
if-goto WHILE_END1
push constant 2
push this 88
add
push constant 512
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 2
push this 88
add
push constant 3
push this 87
add
push constant 2
push this 88
add
push constant 5
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 4
push this 88
add
push constant 512
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 3
push this 88
add
push constant 2
push this 87
add
push constant 4
push this 88
add
push constant 2
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE1
push constant 5
push this 88
add
push constant 512
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 5
push this 88
add
push constant 3
push this 87
add
push constant 5
push this 88
add
push constant 5
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE2
push constant 4
push this 88
add
push constant 512
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 3
push this 88
add
push constant 6
push this 87
add
push constant 4
push this 88
add
push constant 6
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE3
push constant 7
push this 88
add
push constant 512
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 7
push this 88
add
push constant 2
push this 87
add
push constant 7
push this 88
add
push constant 6
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE4
push constant 8
push this 88
add
push constant 512
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 8
push this 88
add
push constant 4
push this 87
add
push constant 8
push this 88
add
push constant 4
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE5
push constant 9
push this 88
add
push constant 512
lt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 9
push this 88
add
push constant 3
push this 87
add
push constant 9
push this 88
add
push constant 3
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE6
push constant 10
push this 88
add
push constant 512
lt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 10
push this 88
add
push constant 2
push this 87
add
push constant 10
push this 88
add
push constant 2
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE7
push constant 9
push this 88
add
push constant 512
lt
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 9
push this 88
add
push constant 5
push this 87
add
push constant 9
push this 88
add
push constant 5
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE8
push constant 10
push this 88
add
push constant 512
lt
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push constant 10
push this 88
add
push constant 6
push this 87
add
push constant 10
push this 88
add
push constant 6
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE9
push constant 13
push this 88
add
push constant 512
lt
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 12
push this 88
add
push constant 2
push this 87
add
push constant 13
push this 88
add
push constant 2
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE10
push constant 13
push this 88
add
push constant 512
lt
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 12
push this 88
add
push constant 4
push this 87
add
push constant 13
push this 88
add
push constant 6
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE11
push this 88
push this 89
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push constant 2
push this 88
add
push this 90
sub
push constant 1
neg
gt
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push constant 2
push this 88
add
push this 90
sub
push constant 3
push this 87
add
push constant 2
push this 88
add
push this 90
sub
push constant 5
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE13
push constant 3
push this 88
add
push this 90
sub
push constant 1
neg
gt
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push constant 3
push this 88
add
push this 90
sub
push constant 2
push this 87
add
push constant 4
push this 88
add
push this 90
sub
push constant 2
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE14
push constant 5
push this 88
add
push this 90
sub
push constant 1
neg
gt
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push constant 5
push this 88
add
push this 90
sub
push constant 3
push this 87
add
push constant 5
push this 88
add
push this 90
sub
push constant 5
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE15
push constant 3
push this 88
add
push this 90
sub
push constant 1
neg
gt
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
push constant 3
push this 88
add
push this 90
sub
push constant 6
push this 87
add
push constant 4
push this 88
add
push this 90
sub
push constant 6
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE16
push constant 7
push this 88
add
push this 90
sub
push constant 1
neg
gt
if-goto IF_TRUE17
goto IF_FALSE17
label IF_TRUE17
push constant 7
push this 88
add
push this 90
sub
push constant 2
push this 87
add
push constant 7
push this 88
add
push this 90
sub
push constant 6
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE17
push constant 8
push this 88
add
push this 90
sub
push constant 1
neg
gt
if-goto IF_TRUE18
goto IF_FALSE18
label IF_TRUE18
push constant 8
push this 88
add
push this 90
sub
push constant 4
push this 87
add
push constant 8
push this 88
add
push this 90
sub
push constant 4
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE18
push constant 9
push this 88
add
push this 90
sub
push constant 1
neg
gt
if-goto IF_TRUE19
goto IF_FALSE19
label IF_TRUE19
push constant 9
push this 88
add
push this 90
sub
push constant 3
push this 87
add
push constant 9
push this 88
add
push this 90
sub
push constant 3
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE19
push constant 10
push this 88
add
push this 90
sub
push constant 1
neg
gt
if-goto IF_TRUE20
goto IF_FALSE20
label IF_TRUE20
push constant 10
push this 88
add
push this 90
sub
push constant 2
push this 87
add
push constant 10
push this 88
add
push this 90
sub
push constant 2
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE20
push constant 9
push this 88
add
push this 90
sub
push constant 1
neg
gt
if-goto IF_TRUE21
goto IF_FALSE21
label IF_TRUE21
push constant 9
push this 88
add
push this 90
sub
push constant 3
push this 87
add
push constant 9
push this 88
add
push this 90
sub
push constant 5
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE21
push constant 10
push this 88
add
push this 90
sub
push constant 1
neg
gt
if-goto IF_TRUE22
goto IF_FALSE22
label IF_TRUE22
push constant 10
push this 88
add
push this 90
sub
push constant 2
push this 87
add
push constant 10
push this 88
add
push this 90
sub
push constant 2
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE22
push constant 12
push this 88
add
push this 90
sub
push constant 1
neg
gt
if-goto IF_TRUE23
goto IF_FALSE23
label IF_TRUE23
push constant 12
push this 88
add
push this 90
sub
push constant 2
push this 87
add
push constant 13
push this 88
add
push this 90
sub
push constant 2
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE23
push constant 12
push this 88
add
push this 90
sub
push constant 1
neg
gt
if-goto IF_TRUE24
goto IF_FALSE24
label IF_TRUE24
push constant 12
push this 88
add
push this 90
sub
push constant 4
push this 87
add
push constant 13
push this 88
add
push this 90
sub
push constant 6
push this 87
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE24
label IF_FALSE12
push this 88
push constant 20
add
pop this 88
goto WHILE_EXP1
label WHILE_END1
push this 89
push constant 1
add
pop this 89
push this 89
push constant 18
eq
if-goto IF_TRUE25
goto IF_FALSE25
label IF_TRUE25
push constant 0
pop this 89
label IF_FALSE25
push this 89
pop this 88
push this 87
push constant 7
add
pop this 87
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function OKeyboard.new 87
push constant 93
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 87
push constant 153
call Array.new 1
pop this 91
label WHILE_EXP0
push this 87
push constant 153
lt
not
if-goto WHILE_END0
push this 87
push this 91
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop this 87
push constant 59
push constant 63
call Point.new 2
pop local 0
push local 0
push constant 17
push constant 17
call Button.new 3
pop this 0
push constant 91
push constant 63
call Point.new 2
pop local 1
push local 1
push constant 17
push constant 17
call Button.new 3
pop this 1
push constant 113
push constant 63
call Point.new 2
pop local 2
push local 2
push constant 17
push constant 17
call Button.new 3
pop this 2
push constant 135
push constant 63
call Point.new 2
pop local 3
push local 3
push constant 17
push constant 17
call Button.new 3
pop this 3
push constant 157
push constant 63
call Point.new 2
pop local 4
push local 4
push constant 17
push constant 17
call Button.new 3
pop this 4
push constant 185
push constant 63
call Point.new 2
pop local 5
push local 5
push constant 17
push constant 17
call Button.new 3
pop this 5
push constant 207
push constant 63
call Point.new 2
pop local 6
push local 6
push constant 17
push constant 17
call Button.new 3
pop this 6
push constant 229
push constant 63
call Point.new 2
pop local 7
push local 7
push constant 17
push constant 17
call Button.new 3
pop this 7
push constant 251
push constant 63
call Point.new 2
pop local 8
push local 8
push constant 17
push constant 17
call Button.new 3
pop this 8
push constant 279
push constant 63
call Point.new 2
pop local 9
push local 9
push constant 17
push constant 17
call Button.new 3
pop this 9
push constant 301
push constant 63
call Point.new 2
pop local 10
push local 10
push constant 17
push constant 17
call Button.new 3
pop this 10
push constant 323
push constant 63
call Point.new 2
pop local 11
push local 11
push constant 17
push constant 17
call Button.new 3
pop this 11
push constant 345
push constant 63
call Point.new 2
pop local 12
push local 12
push constant 17
push constant 17
call Button.new 3
pop this 12
push constant 59
push constant 91
call Point.new 2
pop local 13
push local 13
push constant 17
push constant 17
call Button.new 3
pop this 13
push constant 79
push constant 91
call Point.new 2
pop local 14
push local 14
push constant 17
push constant 17
call Button.new 3
pop this 14
push constant 99
push constant 91
call Point.new 2
pop local 15
push local 15
push constant 17
push constant 17
call Button.new 3
pop this 15
push constant 119
push constant 91
call Point.new 2
pop local 16
push local 16
push constant 17
push constant 17
call Button.new 3
pop this 16
push constant 139
push constant 91
call Point.new 2
pop local 17
push local 17
push constant 17
push constant 17
call Button.new 3
pop this 17
push constant 159
push constant 91
call Point.new 2
pop local 18
push local 18
push constant 17
push constant 17
call Button.new 3
pop this 18
push constant 179
push constant 91
call Point.new 2
pop local 19
push local 19
push constant 17
push constant 17
call Button.new 3
pop this 19
push constant 199
push constant 91
call Point.new 2
pop local 20
push local 20
push constant 17
push constant 17
call Button.new 3
pop this 20
push constant 219
push constant 91
call Point.new 2
pop local 21
push local 21
push constant 17
push constant 17
call Button.new 3
pop this 21
push constant 239
push constant 91
call Point.new 2
pop local 22
push local 22
push constant 17
push constant 17
call Button.new 3
pop this 22
push constant 259
push constant 91
call Point.new 2
pop local 23
push local 23
push constant 17
push constant 17
call Button.new 3
pop this 23
push constant 279
push constant 91
call Point.new 2
pop local 24
push local 24
push constant 17
push constant 17
call Button.new 3
pop this 24
push constant 299
push constant 91
call Point.new 2
pop local 25
push local 25
push constant 17
push constant 17
call Button.new 3
pop this 25
push constant 320
push constant 91
call Point.new 2
pop local 26
push local 26
push constant 17
push constant 40
call Button.new 3
pop this 26
push constant 59
push constant 112
call Point.new 2
pop local 27
push local 27
push constant 17
push constant 29
call Button.new 3
pop this 27
push constant 91
push constant 112
call Point.new 2
pop local 28
push local 28
push constant 17
push constant 17
call Button.new 3
pop this 28
push constant 111
push constant 112
call Point.new 2
pop local 29
push local 29
push constant 17
push constant 17
call Button.new 3
pop this 29
push constant 131
push constant 112
call Point.new 2
pop local 30
push local 30
push constant 17
push constant 17
call Button.new 3
pop this 30
push constant 151
push constant 112
call Point.new 2
pop local 31
push local 31
push constant 17
push constant 17
call Button.new 3
pop this 31
push constant 171
push constant 112
call Point.new 2
pop local 32
push local 32
push constant 17
push constant 17
call Button.new 3
pop this 32
push constant 191
push constant 112
call Point.new 2
pop local 33
push local 33
push constant 17
push constant 17
call Button.new 3
pop this 33
push constant 211
push constant 112
call Point.new 2
pop local 34
push local 34
push constant 17
push constant 17
call Button.new 3
pop this 34
push constant 231
push constant 112
call Point.new 2
pop local 35
push local 35
push constant 17
push constant 17
call Button.new 3
pop this 35
push constant 251
push constant 112
call Point.new 2
pop local 36
push local 36
push constant 17
push constant 17
call Button.new 3
pop this 36
push constant 271
push constant 112
call Point.new 2
pop local 37
push local 37
push constant 17
push constant 17
call Button.new 3
pop this 37
push constant 291
push constant 112
call Point.new 2
pop local 38
push local 38
push constant 17
push constant 17
call Button.new 3
pop this 38
push constant 311
push constant 112
call Point.new 2
pop local 39
push local 39
push constant 17
push constant 17
call Button.new 3
pop this 39
push constant 331
push constant 112
call Point.new 2
pop local 40
push local 40
push constant 17
push constant 29
call Button.new 3
pop this 40
push constant 59
push constant 133
call Point.new 2
pop local 41
push local 41
push constant 17
push constant 35
call Button.new 3
pop this 41
push constant 97
push constant 133
call Point.new 2
pop local 42
push local 42
push constant 17
push constant 17
call Button.new 3
pop this 42
push constant 117
push constant 133
call Point.new 2
pop local 43
push local 43
push constant 17
push constant 17
call Button.new 3
pop this 43
push constant 137
push constant 133
call Point.new 2
pop local 44
push local 44
push constant 17
push constant 17
call Button.new 3
pop this 44
push constant 157
push constant 133
call Point.new 2
pop local 45
push local 45
push constant 17
push constant 17
call Button.new 3
pop this 45
push constant 177
push constant 133
call Point.new 2
pop local 46
push local 46
push constant 17
push constant 17
call Button.new 3
pop this 46
push constant 197
push constant 133
call Point.new 2
pop local 47
push local 47
push constant 17
push constant 17
call Button.new 3
pop this 47
push constant 217
push constant 133
call Point.new 2
pop local 48
push local 48
push constant 17
push constant 17
call Button.new 3
pop this 48
push constant 237
push constant 133
call Point.new 2
pop local 49
push local 49
push constant 17
push constant 17
call Button.new 3
pop this 49
push constant 257
push constant 133
call Point.new 2
pop local 50
push local 50
push constant 17
push constant 17
call Button.new 3
pop this 50
push constant 277
push constant 133
call Point.new 2
pop local 51
push local 51
push constant 17
push constant 17
call Button.new 3
pop this 51
push constant 297
push constant 133
call Point.new 2
pop local 52
push local 52
push constant 17
push constant 17
call Button.new 3
pop this 52
push constant 317
push constant 133
call Point.new 2
pop local 53
push local 53
push constant 17
push constant 43
call Button.new 3
pop this 53
push constant 59
push constant 154
call Point.new 2
pop local 54
push local 54
push constant 17
push constant 42
call Button.new 3
pop this 54
push constant 105
push constant 154
call Point.new 2
pop local 55
push local 55
push constant 17
push constant 17
call Button.new 3
pop this 55
push constant 125
push constant 154
call Point.new 2
pop local 56
push local 56
push constant 17
push constant 17
call Button.new 3
pop this 56
push constant 145
push constant 154
call Point.new 2
pop local 57
push local 57
push constant 17
push constant 17
call Button.new 3
pop this 57
push constant 165
push constant 154
call Point.new 2
pop local 58
push local 58
push constant 17
push constant 17
call Button.new 3
pop this 58
push constant 185
push constant 154
call Point.new 2
pop local 59
push local 59
push constant 17
push constant 17
call Button.new 3
pop this 59
push constant 205
push constant 154
call Point.new 2
pop local 60
push local 60
push constant 17
push constant 17
call Button.new 3
pop this 60
push constant 225
push constant 154
call Point.new 2
pop local 61
push local 61
push constant 17
push constant 17
call Button.new 3
pop this 61
push constant 245
push constant 154
call Point.new 2
pop local 62
push local 62
push constant 17
push constant 17
call Button.new 3
pop this 62
push constant 265
push constant 154
call Point.new 2
pop local 63
push local 63
push constant 17
push constant 17
call Button.new 3
pop this 63
push constant 285
push constant 154
call Point.new 2
pop local 64
push local 64
push constant 17
push constant 17
call Button.new 3
pop this 64
push constant 307
push constant 154
call Point.new 2
pop local 65
push local 65
push constant 17
push constant 53
call Button.new 3
pop this 65
push constant 59
push constant 175
call Point.new 2
pop local 66
push local 66
push constant 17
push constant 20
call Button.new 3
pop this 66
push constant 85
push constant 175
call Point.new 2
pop local 67
push local 67
push constant 17
push constant 20
call Button.new 3
pop this 67
push constant 111
push constant 175
call Point.new 2
pop local 68
push local 68
push constant 17
push constant 20
call Button.new 3
pop this 68
push constant 137
push constant 175
call Point.new 2
pop local 69
push local 69
push constant 17
push constant 120
call Button.new 3
pop this 69
push constant 263
push constant 175
call Point.new 2
pop local 70
push local 70
push constant 17
push constant 20
call Button.new 3
pop this 70
push constant 289
push constant 175
call Point.new 2
pop local 71
push local 71
push constant 17
push constant 20
call Button.new 3
pop this 71
push constant 315
push constant 175
call Point.new 2
pop local 72
push local 72
push constant 17
push constant 20
call Button.new 3
pop this 72
push constant 341
push constant 175
call Point.new 2
pop local 73
push local 73
push constant 17
push constant 20
call Button.new 3
pop this 73
push constant 377
push constant 175
call Point.new 2
pop local 74
push local 74
push constant 17
push constant 17
call Button.new 3
pop this 74
push constant 399
push constant 175
call Point.new 2
pop local 75
push local 75
push constant 17
push constant 17
call Button.new 3
pop this 75
push constant 421
push constant 175
call Point.new 2
pop local 76
push local 76
push constant 17
push constant 17
call Button.new 3
pop this 76
push constant 399
push constant 154
call Point.new 2
pop local 77
push local 77
push constant 17
push constant 17
call Button.new 3
pop this 77
push constant 377
push constant 63
call Point.new 2
pop local 78
push local 78
push constant 17
push constant 17
call Button.new 3
pop this 78
push constant 399
push constant 63
call Point.new 2
pop local 79
push local 79
push constant 17
push constant 17
call Button.new 3
pop this 79
push constant 421
push constant 63
call Point.new 2
pop local 80
push local 80
push constant 17
push constant 17
call Button.new 3
pop this 80
push constant 377
push constant 91
call Point.new 2
pop local 81
push local 81
push constant 17
push constant 17
call Button.new 3
pop this 81
push constant 399
push constant 91
call Point.new 2
pop local 82
push local 82
push constant 17
push constant 17
call Button.new 3
pop this 82
push constant 421
push constant 91
call Point.new 2
pop local 83
push local 83
push constant 17
push constant 17
call Button.new 3
pop this 83
push constant 377
push constant 112
call Point.new 2
pop local 85
push local 85
push constant 17
push constant 17
call Button.new 3
pop this 85
push constant 399
push constant 112
call Point.new 2
pop local 86
push local 86
push constant 17
push constant 17
call Button.new 3
pop this 86
push constant 421
push constant 112
call Point.new 2
pop local 84
push local 84
push constant 17
push constant 17
call Button.new 3
pop this 84
push pointer 0
return
function OKeyboard.drawKeyboard 0
push argument 0
pop pointer 0
push pointer 0
call OKeyboard.drawFrame 1
pop temp 0
push pointer 0
push constant 0
call OKeyboard.drawCat 2
pop temp 0
push pointer 0
push this 0
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 1
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 2
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 3
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 4
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 5
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 6
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 7
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 8
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 9
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 10
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 11
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 12
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 13
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 14
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 15
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 16
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 17
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 18
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 19
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 20
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 21
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 22
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 23
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 24
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 25
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 26
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 27
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 28
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 29
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 30
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 31
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 32
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 33
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 34
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 35
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 36
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 37
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 38
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 39
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 40
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 41
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 42
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 43
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 44
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 45
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 46
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 47
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 48
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 49
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 50
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 51
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 52
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 53
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 54
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 55
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 56
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 57
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 58
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 59
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 60
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 61
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 62
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 63
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 64
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 65
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 66
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 67
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 68
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 69
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 70
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 71
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 72
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 73
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 74
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 75
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 76
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 77
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 78
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 79
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 80
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 81
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 82
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 83
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 84
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 85
call OKeyboard.drawButton 2
pop temp 0
push pointer 0
push this 86
call OKeyboard.drawButton 2
pop temp 0
push constant 0
return
function OKeyboard.run 1
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call OKeyboard.drawKeyboard 1
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 140
eq
push constant 140
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 0
call OKeyboard.coverButton 2
pop temp 0
push constant 140
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE0
push local 0
push constant 141
eq
push constant 141
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push this 1
call OKeyboard.coverButton 2
pop temp 0
push constant 141
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE1
push local 0
push constant 142
eq
push constant 142
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push this 2
call OKeyboard.coverButton 2
pop temp 0
push constant 142
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE2
push local 0
push constant 143
eq
push constant 143
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push this 3
call OKeyboard.coverButton 2
pop temp 0
push constant 143
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE3
push local 0
push constant 144
eq
push constant 144
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
push this 4
call OKeyboard.coverButton 2
pop temp 0
push constant 144
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE4
push local 0
push constant 145
eq
push constant 145
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
push this 5
call OKeyboard.coverButton 2
pop temp 0
push constant 145
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE5
push local 0
push constant 146
eq
push constant 146
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
push this 6
call OKeyboard.coverButton 2
pop temp 0
push constant 146
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE6
push local 0
push constant 147
eq
push constant 147
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
push this 7
call OKeyboard.coverButton 2
pop temp 0
push constant 147
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE7
push local 0
push constant 148
eq
push constant 148
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push pointer 0
push this 8
call OKeyboard.coverButton 2
pop temp 0
push constant 148
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE8
push local 0
push constant 149
eq
push constant 149
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push pointer 0
push this 9
call OKeyboard.coverButton 2
pop temp 0
push constant 149
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE9
push local 0
push constant 150
eq
push constant 150
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push pointer 0
push this 10
call OKeyboard.coverButton 2
pop temp 0
push constant 150
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE10
push local 0
push constant 151
eq
push constant 151
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push pointer 0
push this 11
call OKeyboard.coverButton 2
pop temp 0
push constant 151
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE11
push local 0
push constant 152
eq
push constant 152
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push pointer 0
push this 12
call OKeyboard.coverButton 2
pop temp 0
push constant 152
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE12
push local 0
push constant 96
eq
push constant 96
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push pointer 0
push this 13
call OKeyboard.coverButton 2
pop temp 0
push constant 96
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE13
push local 0
push constant 48
eq
push constant 48
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push pointer 0
push this 23
call OKeyboard.coverButton 2
pop temp 0
push constant 48
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE14
push local 0
push constant 49
eq
push constant 49
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push pointer 0
push this 14
call OKeyboard.coverButton 2
pop temp 0
push constant 49
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE15
push local 0
push constant 50
eq
push constant 50
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
push pointer 0
push this 15
call OKeyboard.coverButton 2
pop temp 0
push constant 50
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE16
push local 0
push constant 51
eq
push constant 51
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE17
goto IF_FALSE17
label IF_TRUE17
push pointer 0
push this 16
call OKeyboard.coverButton 2
pop temp 0
push constant 51
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE17
push local 0
push constant 52
eq
push constant 52
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE18
goto IF_FALSE18
label IF_TRUE18
push pointer 0
push this 17
call OKeyboard.coverButton 2
pop temp 0
push constant 52
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE18
push local 0
push constant 53
eq
push constant 53
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE19
goto IF_FALSE19
label IF_TRUE19
push pointer 0
push this 18
call OKeyboard.coverButton 2
pop temp 0
push constant 53
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE19
push local 0
push constant 54
eq
push constant 54
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE20
goto IF_FALSE20
label IF_TRUE20
push pointer 0
push this 19
call OKeyboard.coverButton 2
pop temp 0
push constant 54
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE20
push local 0
push constant 55
eq
push constant 55
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE21
goto IF_FALSE21
label IF_TRUE21
push pointer 0
push this 20
call OKeyboard.coverButton 2
pop temp 0
push constant 55
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE21
push local 0
push constant 56
eq
push constant 56
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE22
goto IF_FALSE22
label IF_TRUE22
push pointer 0
push this 21
call OKeyboard.coverButton 2
pop temp 0
push constant 56
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE22
push local 0
push constant 57
eq
push constant 57
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE23
goto IF_FALSE23
label IF_TRUE23
push pointer 0
push this 22
call OKeyboard.coverButton 2
pop temp 0
push constant 57
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE23
push local 0
push constant 45
eq
push constant 45
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE24
goto IF_FALSE24
label IF_TRUE24
push pointer 0
push this 24
call OKeyboard.coverButton 2
pop temp 0
push constant 45
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE24
push local 0
push constant 61
eq
push constant 61
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE25
goto IF_FALSE25
label IF_TRUE25
push pointer 0
push this 25
call OKeyboard.coverButton 2
pop temp 0
push constant 61
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE25
push local 0
push constant 81
eq
push constant 81
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE26
goto IF_FALSE26
label IF_TRUE26
push pointer 0
push this 28
call OKeyboard.coverButton 2
pop temp 0
push constant 81
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE26
push local 0
push constant 87
eq
push constant 87
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE27
goto IF_FALSE27
label IF_TRUE27
push pointer 0
push this 29
call OKeyboard.coverButton 2
pop temp 0
push constant 87
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE27
push local 0
push constant 69
eq
push constant 69
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE28
goto IF_FALSE28
label IF_TRUE28
push pointer 0
push this 30
call OKeyboard.coverButton 2
pop temp 0
push constant 69
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE28
push local 0
push constant 82
eq
push constant 82
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE29
goto IF_FALSE29
label IF_TRUE29
push pointer 0
push this 31
call OKeyboard.coverButton 2
pop temp 0
push constant 82
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE29
push local 0
push constant 84
eq
push constant 84
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE30
goto IF_FALSE30
label IF_TRUE30
push pointer 0
push this 32
call OKeyboard.coverButton 2
pop temp 0
push constant 84
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE30
push local 0
push constant 89
eq
push constant 89
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE31
goto IF_FALSE31
label IF_TRUE31
push pointer 0
push this 33
call OKeyboard.coverButton 2
pop temp 0
push constant 89
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE31
push local 0
push constant 85
eq
push constant 85
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE32
goto IF_FALSE32
label IF_TRUE32
push pointer 0
push this 34
call OKeyboard.coverButton 2
pop temp 0
push constant 85
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE32
push local 0
push constant 73
eq
push constant 73
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE33
goto IF_FALSE33
label IF_TRUE33
push pointer 0
push this 35
call OKeyboard.coverButton 2
pop temp 0
push constant 73
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE33
push local 0
push constant 79
eq
push constant 79
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE34
goto IF_FALSE34
label IF_TRUE34
push pointer 0
push this 36
call OKeyboard.coverButton 2
pop temp 0
push constant 79
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE34
push local 0
push constant 80
eq
push constant 80
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE35
goto IF_FALSE35
label IF_TRUE35
push pointer 0
push this 37
call OKeyboard.coverButton 2
pop temp 0
push constant 80
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE35
push local 0
push constant 91
eq
push constant 91
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE36
goto IF_FALSE36
label IF_TRUE36
push pointer 0
push this 38
call OKeyboard.coverButton 2
pop temp 0
push constant 91
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE36
push local 0
push constant 93
eq
push constant 93
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE37
goto IF_FALSE37
label IF_TRUE37
push pointer 0
push this 39
call OKeyboard.coverButton 2
pop temp 0
push constant 93
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE37
push local 0
push constant 65
eq
push constant 65
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE38
goto IF_FALSE38
label IF_TRUE38
push pointer 0
push this 42
call OKeyboard.coverButton 2
pop temp 0
push constant 65
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE38
push local 0
push constant 83
eq
push constant 83
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE39
goto IF_FALSE39
label IF_TRUE39
push pointer 0
push this 43
call OKeyboard.coverButton 2
pop temp 0
push constant 83
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE39
push local 0
push constant 68
eq
push constant 68
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE40
goto IF_FALSE40
label IF_TRUE40
push pointer 0
push this 44
call OKeyboard.coverButton 2
pop temp 0
push constant 68
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE40
push local 0
push constant 70
eq
push constant 70
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE41
goto IF_FALSE41
label IF_TRUE41
push pointer 0
push this 45
call OKeyboard.coverButton 2
pop temp 0
push constant 70
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE41
push local 0
push constant 71
eq
push constant 71
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE42
goto IF_FALSE42
label IF_TRUE42
push pointer 0
push this 46
call OKeyboard.coverButton 2
pop temp 0
push constant 71
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE42
push local 0
push constant 72
eq
push constant 72
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE43
goto IF_FALSE43
label IF_TRUE43
push pointer 0
push this 47
call OKeyboard.coverButton 2
pop temp 0
push constant 72
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE43
push local 0
push constant 74
eq
push constant 74
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE44
goto IF_FALSE44
label IF_TRUE44
push pointer 0
push this 48
call OKeyboard.coverButton 2
pop temp 0
push constant 74
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE44
push local 0
push constant 75
eq
push constant 75
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE45
goto IF_FALSE45
label IF_TRUE45
push pointer 0
push this 49
call OKeyboard.coverButton 2
pop temp 0
push constant 75
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE45
push local 0
push constant 76
eq
push constant 76
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE46
goto IF_FALSE46
label IF_TRUE46
push pointer 0
push this 50
call OKeyboard.coverButton 2
pop temp 0
push constant 76
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE46
push local 0
push constant 59
eq
push constant 59
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE47
goto IF_FALSE47
label IF_TRUE47
push pointer 0
push this 51
call OKeyboard.coverButton 2
pop temp 0
push constant 59
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE47
push local 0
push constant 39
eq
push constant 39
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE48
goto IF_FALSE48
label IF_TRUE48
push pointer 0
push this 52
call OKeyboard.coverButton 2
pop temp 0
push constant 39
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE48
push local 0
push constant 92
eq
push constant 92
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE49
goto IF_FALSE49
label IF_TRUE49
push pointer 0
push this 40
call OKeyboard.coverButton 2
pop temp 0
push constant 92
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE49
push local 0
push constant 90
eq
push constant 90
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE50
goto IF_FALSE50
label IF_TRUE50
push pointer 0
push this 55
call OKeyboard.coverButton 2
pop temp 0
push constant 90
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE50
push local 0
push constant 88
eq
push constant 88
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE51
goto IF_FALSE51
label IF_TRUE51
push pointer 0
push this 56
call OKeyboard.coverButton 2
pop temp 0
push constant 88
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE51
push local 0
push constant 67
eq
push constant 67
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE52
goto IF_FALSE52
label IF_TRUE52
push pointer 0
push this 57
call OKeyboard.coverButton 2
pop temp 0
push constant 67
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE52
push local 0
push constant 86
eq
push constant 86
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE53
goto IF_FALSE53
label IF_TRUE53
push pointer 0
push this 58
call OKeyboard.coverButton 2
pop temp 0
push constant 86
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE53
push local 0
push constant 66
eq
push constant 66
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE54
goto IF_FALSE54
label IF_TRUE54
push pointer 0
push this 59
call OKeyboard.coverButton 2
pop temp 0
push constant 66
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE54
push local 0
push constant 78
eq
push constant 78
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE55
goto IF_FALSE55
label IF_TRUE55
push pointer 0
push this 60
call OKeyboard.coverButton 2
pop temp 0
push constant 78
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE55
push local 0
push constant 77
eq
push constant 77
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE56
goto IF_FALSE56
label IF_TRUE56
push pointer 0
push this 61
call OKeyboard.coverButton 2
pop temp 0
push constant 77
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE56
push local 0
push constant 44
eq
push constant 44
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE57
goto IF_FALSE57
label IF_TRUE57
push pointer 0
push this 62
call OKeyboard.coverButton 2
pop temp 0
push constant 44
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE57
push local 0
push constant 46
eq
push constant 46
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE58
goto IF_FALSE58
label IF_TRUE58
push pointer 0
push this 63
call OKeyboard.coverButton 2
pop temp 0
push constant 46
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE58
push local 0
push constant 47
eq
push constant 47
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE59
goto IF_FALSE59
label IF_TRUE59
push pointer 0
push this 64
call OKeyboard.coverButton 2
pop temp 0
push constant 47
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE59
push local 0
push constant 32
eq
push constant 32
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE60
goto IF_FALSE60
label IF_TRUE60
push pointer 0
push this 69
call OKeyboard.coverButton 2
pop temp 0
push constant 32
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE60
push local 0
push constant 128
eq
push constant 128
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE61
goto IF_FALSE61
label IF_TRUE61
push pointer 0
push this 53
call OKeyboard.coverButton 2
pop temp 0
push constant 128
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE61
push local 0
push constant 129
eq
push constant 129
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE62
goto IF_FALSE62
label IF_TRUE62
push pointer 0
push this 26
call OKeyboard.coverButton 2
pop temp 0
push constant 129
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE62
push local 0
push constant 130
eq
push constant 130
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE63
goto IF_FALSE63
label IF_TRUE63
push pointer 0
push this 74
call OKeyboard.coverButton 2
pop temp 0
push constant 130
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE63
push local 0
push constant 131
eq
push constant 131
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE64
goto IF_FALSE64
label IF_TRUE64
push pointer 0
push this 77
call OKeyboard.coverButton 2
pop temp 0
push constant 131
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE64
push local 0
push constant 132
eq
push constant 132
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE65
goto IF_FALSE65
label IF_TRUE65
push pointer 0
push this 76
call OKeyboard.coverButton 2
pop temp 0
push constant 132
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE65
push local 0
push constant 133
eq
push constant 133
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE66
goto IF_FALSE66
label IF_TRUE66
push pointer 0
push this 75
call OKeyboard.coverButton 2
pop temp 0
push constant 133
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE66
push local 0
push constant 134
eq
push constant 134
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE67
goto IF_FALSE67
label IF_TRUE67
push pointer 0
push this 82
call OKeyboard.coverButton 2
pop temp 0
push constant 134
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE67
push local 0
push constant 135
eq
push constant 135
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE68
goto IF_FALSE68
label IF_TRUE68
push pointer 0
push this 86
call OKeyboard.coverButton 2
pop temp 0
push constant 135
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE68
push local 0
push constant 136
eq
push constant 136
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE69
goto IF_FALSE69
label IF_TRUE69
push pointer 0
push this 83
call OKeyboard.coverButton 2
pop temp 0
push constant 136
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE69
push local 0
push constant 137
eq
push constant 137
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE70
goto IF_FALSE70
label IF_TRUE70
push pointer 0
push this 84
call OKeyboard.coverButton 2
pop temp 0
push constant 137
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE70
push local 0
push constant 138
eq
push constant 138
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE71
goto IF_FALSE71
label IF_TRUE71
push pointer 0
push this 81
call OKeyboard.coverButton 2
pop temp 0
push constant 138
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE71
push local 0
push constant 139
eq
push constant 139
push this 91
add
pop pointer 1
push that 0
not
and
if-goto IF_TRUE72
goto IF_FALSE72
label IF_TRUE72
push pointer 0
push this 85
call OKeyboard.coverButton 2
pop temp 0
push constant 139
push this 91
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 87
push constant 1
add
pop this 87
label IF_FALSE72
push this 87
push constant 73
eq
if-goto IF_TRUE73
goto IF_FALSE73
label IF_TRUE73
push pointer 0
call OKeyboard.drawOki 1
pop temp 0
label IF_FALSE73
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function OKeyboard.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
